*{
    padding: 0;
    margin: 0;
}

body{
    background-color: gray;
    padding-top: 30px;
}

#container{
    background-color: rgb(100,120,100);
    text-align: center;
    display: flex;
    width: 60%;
    justify-content: center;
    margin: auto;
    align-items: center;
}

table{
    padding: 10px;
}

td{
    width: 35px;
    height: 35px;
}

#green-box{
    margin: auto;
    display: flex;
    justify-content: center;
    width: 233px;
    height: 233px;
    background-color: rgb(100,255,100);
}
#green-main{
   width: 140px;
   height: 140px;
   background-color: white;
   margin: auto;
}

#red-box{
    margin: auto;
    display: flex;
    justify-content: center;
    width: 233px;
    height: 233px;
    background-color: indianred;
}

#red-main{
     width: 140px;
     height: 140px;
     background-color: white;
     margin: auto;
}

#blue-box{
    margin: auto;
    display: flex;
    justify-content: center;
    width: 233px;
    height: 233px;
    background-color: rgb(100,100,250);
}

#blue-main{
     width: 140px;
     height: 140px;
     background-color: white;
     margin: auto;
}

#yellow-box{
    margin: auto;
    display: flex;
    justify-content: center;
    width: 233px;
    height: 233px;
    background-color: rgb(250,250,100);
}

#yellow-main{
    width: 140px;
    height: 140px;
    background-color: white;
    margin: auto;
}

.green{
    background-color: rgb(100,255,100);
}

.red{
    background-color: indianred;
}

.yellow{
    background-color: rgb(250,250,100);
}

.blue{
    background-color: rgb(100,100,250);
}

#win-box{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}
#win-main{
    width: 0;
    height: 0;
    border-top: 60px solid rgb(250,250,100);
    border-left: 60px solid rgb(100,255,100);
    border-right: 60px solid indianred;
    border-bottom: 60px solid rgb(100,100,250);
}

.cells{
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
}

.cell{
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 50%;
}

.star{
    background-color: wheat;
}